# <center>Solar Flare dataset

In [4]:
import os
import re
import pandas as pd
import wget

In [5]:
# Download the .data.
wget.download('https://archive.ics.uci.edu/ml/machine-learning-databases/solar-flare/flare.data1')
wget.download('https://archive.ics.uci.edu/ml/machine-learning-databases/solar-flare/flare.data2')

'flare.data2'

In [6]:
# Download the .names.
wget.download('https://archive.ics.uci.edu/ml/machine-learning-databases/solar-flare/flare.names')

'flare.names'

In [9]:
# Open the 'flare.data1' file for reading.

with open(os.path.join(os.getcwd(),'flare.data1'),'r') as f:
    data1 = f.read().splitlines()
    data1 = [elem.split(' ') for elem in data1 if elem!=''] 
    data1 = data1[1:] #

In [10]:
# Open the 'flare.data2' file for reading.
with open(os.path.join(os.getcwd(),'flare.data2'),'r') as f:
    data2 = f.read().splitlines() 
    data2 = [elem.split(' ') for elem in data2 if elem!=''] 
    data2 = data2[1:]

In [13]:
# Adding the two datas in one.
data = data1+data2

In [15]:
# read metadata
with open(os.path.join(os.getcwd(),'flare.names'),'r') as f:
    metadata = f.read().splitlines()

In [16]:
# Processing metadata to extract column names and appends 'label' as the last column name.
reg_text_fn = lambda text : re.findall('[a-zA-Z-]+', text)
metadata_list = [regex_fn(elem)[0].strip() for elem in metadata if regex_fn(elem)]
col_names = [reg_text_fn(elem)[0] for elem in metadata_list if reg_text_fn(elem)]

In [17]:
# Create a DataFrame from the processed data and column names.
df = pd.DataFrame(data=data, columns=col_names)

In [18]:
# Taking a look
df

,Code,Code,Code,Activity,Evolution,Previous,Historically-complex,Did,Area,Area,C-class,M-class,X-class
0,C,S,O,1,2,1,1,2,1,2,0,0,0
1,D,S,O,1,3,1,1,2,1,2,0,0,0
2,C,S,O,1,3,1,1,2,1,1,0,0,0
3,D,S,O,1,3,1,1,2,1,2,0,0,0
4,D,A,O,1,3,1,1,2,1,2,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1384,H,S,X,1,2,1,1,1,1,1,0,0,0
1385,H,S,X,2,2,1,1,2,1,1,0,0,0
1386,C,S,O,1,2,1,2,2,1,1,0,0,0
1387,H,R,X,1,2,1,1,2,1,1,0,0,0
1388,B,X,O,1,1,1,1,2,1,1,0,0,0

In [21]:
# Save to csv
df.to_csv('solar-flare.csv')